<div class="artlistHead">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true" ui-sref="background"></span>
    <span>阅览室</span>
</div>
<div class="artlistWrap">
    <div class="artlistRow" ng-repeat="x in a">
        <div class="artlistCover">
            <img ng-src={{x.img}} height="75" width="75">
        </div>
        <div class="artlistRight" ng-click="gotoArticle(x.id)">
            <div class="artlistTitle">
                {{x.title}}
            </div>
            <div class="artlistAuthor">
                {{x.teacherName}}
            </div>
            <div class="artlistContent">
                {{x.summary}}
            </div>
            <div class="artlistothers">
                <span class="artlistLike">{{x.praise}}</span>
                <span class="artlistCollect">{{x.collection}}</span>
                <span class="artlistDate">{{x.createAt}}</span>
            </div>
        </div>
        <div class="artlistNext"></div>
    </div>
    <div class="loaded" ng-click="loaded()">{{loadtext}}</div>
</div>