
body {
    margin:0;
    padding:0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.nav{
    float:right;
    display: flex;
    width:80%;
    justify-content: flex-end;
    margin-top:20px;
}
.nav-lt{
    margin-top:-20px;
    /*border:1px solid red;*/
}
.name{
    display: inline-block;
    padding:0 30px;
    font-sixe:20px;
    border:2px solid #e8e8e8;
    border-top:none;
    border-bottom:none;
    color:midnightblue;
}
.nav-ig{
    padding:0 30px;
}
/*左侧导航栏*/
.sideboard{
    position:fixed;
    top:0;
    width:20%;
    height:100vh;
    margin-top:0;
    margin-bottom:0;
    text-align:center;

    color:#fff;
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#f8a74e), to(#e68e6a));
}
.sideboard>h3{
    margin-top:12px;
    padding-bottom:22px;
    border-bottom:1px solid #fff;
}

.sd-l{
    vertical-align:middle;
    margin-left:5%;
    width:17px;
}
.sd-r{
    vertical-align:middle;
    width:13px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* Internet Explorer */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); /* Opera */
}
li{
    color:#fff;
    margin-left:-40px;
    padding:15px;
    list-style-type:none;
}
.ad-p:hover{
    background:rgba(247, 197, 7, 0.53);
}
a {
    text-decoration:none;
    coloe:#fff;
}
.ad-p>img{
    margin-top:-4px;
    padding:0 20px;
}
.nav-r{
    float:right;
    width:80%;
    height: 82.7vh;
    background:#e8e8e8;
}

/*content-02*/
.main-t, .main-f{
    background-color:#fff;
    margin: 30px;
    padding:10px;
    border-radius: 5px;

}
input{
    width: 200px;
    border-radius: 5px;
    height: 30px;
    margin-left:10px;
}
.it{
    margin-left:10px;
}
.t-1, .t-2, .t-3{
    margin:30px;
}
.t-1>p, .t-2>p, .t-3>p {
    display: inline;
}
.MTB{
    display: flex;
    justify-content: flex-end;
    margin: 20px;

  }
.MTB-l, .MTB-2, .f-bn{
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 5px;
    color:#fff;
     border: none;
   }
.MTB-l{
    background-color:red;
}
.MTB-2{
    background-color:blue;
}
/*foot*/
.main-f{}
.f-1 {
    display: flex;
    justify-content: space-between;
}
.f-bn{
    height: 40px;
    margin-top: 20px;
    background-color:green;
}
.table{
    margin-top:10px;
    /*margin-left:10px;*/
    /*margin-right:10px;*/
    border:1px solid #e8e8e8;
}
/*2*/
.t-1p{
    position: absolute;
    margin-top: 20px;
}
