body {
  margin: 0;
  background-color: #f7f7f7; }

header {
  padding: 33px 5%;
  background-color:#29bde0;
}

.header-main-l {
  float: left;
  margin-top: 20px; }

.header-main-r {
  float: right;
  margin-top: -60px; }

.header-centre {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 4rem; }

/*主题内容*/
/*标题*/
.layout{
  width:95%;
  margin:50px auto;
  text-align:center;
  background-color:#fff;
  color:#29bde0;
  border:2px solid #c9c9c9;
}
/*内容*/
.lt-1{
  margin-top:-30px;
}
.lt_tp{
  border-bottom:2px solid #c9c9c9;
}
.lt_tp>h1{
  margin:0;
  padding:10px 0;
  font-size:3rem;
}

.img-top{
  float:right;
  width:40px;
  margin:-48px 2% 0 0;
}
.layout-main{
  display:inline-block;
  width:83%;
  margin-top:100px;
  margin-bottom:100px;
  border-left:2px solid #c9c9c9;
}

.layout-main1{
  float:right;
  width:80%;
  color: #fff;
  margin-bottom:25px;
  padding:20px 20px;
  background-color:#29bde0;
}
.layout-main1>p, .bottom-p{
  font-size: 3rem;
  color: #fff;
  margin:0;
}
.triangle{
  float:left;
  margin:-54px 0 0 -47px;
  border-top:20px solid transparent;
  border-bottom:20px solid transparent;
  border-right:30px solid #29bde0;
}
.triangle-2{
  width:0;
  margin: -29px auto 0 auto;
  border-bottom:30px solid #fff;
  border-left:60px solid transparent;
  border-right:60px solid transparent;
}
.tp-dv{
  float:left;
  width:90%;
  /*margin-top:20px;*/
}
 .ft-dv{
   float:left;
   width:90%;
  margin-top:20px;
}
 .night, .daytime{
   width:100px;
   height:100px;
   margin-left:-50px;
   line-height:130px;
   border-radius:50%;
   background-color:#fff;
   border:2px solid #c9c9c9;
 }
.night>img, .daytime>img{
  width:50px;
}
.bottom-1{

  margin-top:30px;
  background-color:orange;
}
.bottom-bn{
  position: fixed;
  bottom: 0;
  display: flex;
  /*justify-content: center;*/
  /*align-items: flex-end;*/
  width:100%;
  background-color:#29bde0;
}
.bn-l, .bn-r{
  margin:20px  80px;
  padding:17px;
  border-radius:20px;
  width:40%;
  color:#fff;
  font-size:3rem;
  background-color:orange;
}