<div class="cp-div">
    <div class="cp-div-2 col-sm-11 panel ">
        <div class="cp-hd-p">
            <p class="lt-bj ">{{id ? "编辑列表":"新增列表"}}</p>
        </div>
        <div class="bj-fm">
            <form  name="form" novalidate="novalidate">
                <div class="row cp-center">
                    <small class="lt-sz col-sm-3" >标题名称</small>
                    <input class="col-sm-6 lt-it" name="title" ng-model="addParams.title" required>
                    <span class=" col-sm-2 sw" style="color:red;" ng-show="form.title.$error.required">请填写</span>
                </div>
                <div class="row cp-center">
                    <small class="lt-sz col-sm-3 cp-sg">类&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp型</small>
                    <select  name="type" class="lt-it cp-st" ng-model="addParams.type" ng-options="x.value as x.text for x in type" required>
                        <!--行业大图分支-->
                        <option value="">&nbsp&nbsp---请选择---</option>
                    </select>
                    <span name="invalid" class="sw col-sm-2" style="color:red;" ng-show="form.type.$error.required">这一项是必选的</span>
                    <!--分支-->
                    <select name="industry" class="lt-it  cp-st cp-st-1" ng-if="addParams.type==3" ng-model="addParams.industry" ng-options="x.value as x.text for x in industry" required>
                        <option value="">---请选择---</option>
                    </select>
                    <span style="color:red;" class="sw col-sm-2" ng-show="form.industry.$error.required" >这一项是必选的</span>
                </div>
                <div class="row">
                    <small class="lt-sz col-sm-3">说&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp明</small>
                    <!--富文本-->
                    <div class="col-sm-6 fwb ">
                        <div type="text/html" style="margin:auto;height:300px;width:100%;"
                             ng-model="CompleteModel.text"
                             meta-umeditor
                             meta-umeditor-config='config'
                             meta-umeditor-placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <small class="lt-sz col-sm-3">跳转链接</small>
                    <input name="url" type="url" ng-model="addParams.url" class="lt-it col-sm-6" required>
                    <span class="sw col-sm-2" style="color:red;" ng-show="form.url.$error.required">请填写</span>
                    <span class="sw col-sm-2" style="color:red;" ng-show="form.url.$error.url">URL格式不正确</span>
                </div>
                <div class="row ">
                    <small class="lt-sz col-sm-3">配&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp图</small>
                    <div type="test" class="col-sm-6" style="margin-left: inherit;" ng-model="addParams.content">
                        <up-loader  ng-model="addParams.img"></up-loader>
                        <div>
                            <!--||form.type.$error.required||(addParams.type==3 && form.industry.$error.required)||form.url.$error.required||(!src)-->
                            <button type="button" ng-disabled="form.title.$invalid||form.type.$error.required||form.content.$error.required||(addParams.type==3 && form.industry.$error.required)||form.url.$error.required||form.url.$invalid||addParams.img==undefined" class="btn btn-success bj-bn" ng-click="upload(2)">立即上线</button>
                            <button type="button" ng-disabled="form.title.$invalid||form.type.$error.required||form.content.$error.required||(addParams.type==3 && form.industry.$error.required)||form.url.$error.required||form.url.$invalid||addParams.img==undefined" class="btn btn-success bj-bn" ng-click="upload(1)">存为草稿</button>
                            <button type="button" class="btn  btn-default bj-bn pull-right"ng-click="cancel()">取消</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
