
<img class="background-img" src="images/01.png"/>
<div class="login-center"  >


    <h1>喝我水站后台登录</h1>
    <div class="center-f">

            <img src="images/02.png"/>
        <input id="name" type="text" name="name" ng-model="name"
               placeholder="请输入账号"  maxlength="10">
    </div>
    <div class="center-t center-f">
        <img src="images/03.png"/>
        <input id="password" type="password" name="password"
         ng-model="pwd" placeholder="请输入密码" maxlength="10">

    </div>
    <p class="result" id="result"></p>
    <button class="submit" id="submit" type="button" ng-click="enter()">登录</button>
</div>

